<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Authentication methods</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="addScaDataItem()">add new authentication method</button>
    </div>
  </div>
</div>

<div class="container">
  <form autocomplete="off" [formGroup]="scaForm">

    <div class="form-group" formArrayName="scaUserData">
      <div class="card">
        <div class="card-header">
          User authentication Information
        </div>
        <div class="card-body">
          <div class="row" *ngFor="let scaDataItem of scaForm.controls['scaUserData'].controls; let i=index">
            <div class="col-lg-8 col-md-8 col-sm-6 my-1" [formGroupName]="i">
              <input type="text"
                     class="form-control"
                     id="scaData"
                     formControlName="methodValue"
                     aria-describedby="scaDataHelp"
                     [ngClass]="{ 'is-invalid': scaDataItem.controls['methodValue'].touched && scaDataItem.controls['methodValue'].errors }"
                     placeholder="Please input SCA method for user">
              <!--<small id="scaDataHelp" class="form-text text-muted">Authentication Email or Phone number</small>-->
              <div *ngIf="scaDataItem.controls['methodValue'].touched && scaDataItem.controls['methodValue'].errors" class="invalid-feedback d-block">
                Email or Phone number is required
              </div>
            </div>
            <div class="col-auto my-1" [formGroupName]="i">
              <div class="row">
                <div class="form-check col">
                  <input class="form-check-input"
                         type="radio"
                         name="scaMethod"
                         id="scaUserDataEmail"
                         formControlName="scaMethod"
                         value="EMAIL">
                  <label class="form-check-label" for="scaUserDataEmail">
                    Email
                  </label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input"
                         type="radio"
                         name="scaMethod"
                         id="scaUserDataPhone"
                         formControlName="scaMethod"
                         value="MOBILE">
                  <label class="form-check-label" for="scaUserDataPhone">
                    Mobile phone
                  </label>

                </div>
              </div>
            </div>

            <button type="button"
                    *ngIf="scaForm.controls['scaUserData'].controls.length > 1"
                    (click)="removeScaDataItem(i)"
                    class="close"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
        </div>
      </div>
    </div>

    <button type="submit"
            (click)="onSubmit()"
            class="btn btn-primary">Update</button>
  </form>
</div>
