<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <h3 class="footer_h3">Useful Links</h3>
        <ul class="footer_ul">
          <li><a href="#">Home</a></li>
          <li><a href="faq.php">FAQs</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="contact.php">Contact Us</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3 class="footer_h3">Useful Links</h3>
        <ul class="footer_ul">
          <li><a href="#">Space Adventure</a></li>
          <li><a href="#">Mr. Chicken</a></li>
          <li><a href="#">3D Soccer</a></li>
          <li><a href="#">Ramses Treasure</a></li>
          <li><a href="#">Lucky Christmas</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-sm-offset-3">
        <h3 class="footer_h3 fb">Facebook</h3>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <p>Adorsys GmbH © Copyright   2018. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
